.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vw;
    background-color: rgb(151, 118, 107);
    border-radius: 10px;
}
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
body{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width:350px ;
    height: 50px;
    padding:5px;
    margin-bottom: 20px;
    background-color: rgb(75, 58, 50);
    color: rgb(206, 182, 182);
    border-radius: 5px;
    border: 2px solid rgb(51, 39, 39);;
}
button:hover{
    width:350px ;
    height: 50px;
    padding:5px;
    margin-bottom: 20px;
    background-color: rgb(121, 95, 84);
    color: rgb(206, 182, 182);
    border-radius: 5px;
    border: 2px solid rgb(92, 71, 62);;
    transform:scale(1.1); 
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 30px rgb(85, 57, 57);
}
*{
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}
